input{
    
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #9147ff;
        background: #fff;
    }
    
}

            
ul li {
    list-style: none;
    position: relative;
    padding: 3px 0 2px 25px;
  }