#myAutoComplete { width:165px; }
.personinfofrmwrk { padding-left:27px; }
.countryinfofrmwrk { padding-left:27px; }
.questionansfrmwrk { padding-left:27px; }
#countryoptions { padding:5px;margin:0px; }
#countrylink, #countrylinktext { padding:10px 0 0 0; }

