.fill-screen {
  min-height: 100vh !important;
  min-width: 100vw !important;
}

.fill-parent {
  height: 100% !important;
  width: 100% !important;
}

.vh-75 {
  height: 75vh !important;
}

.vw-75 {
  width: 75vw !important;
}
